.App {
    text-align: center;
    margin: 0 10px;
}

.header {
    height: 88px;
}

.footer {
    height: 100px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 10px;
}

.main {
    height: calc(100vh - 188px);
}

.footer svg {
    fill: #f5f8fa;
}