.list {
    border: 1px solid gray;;
    flex: 0 0 49%;
    margin: 5px;
    padding: 5px;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.watch-list {
    margin-right: 10px;
}

.fav-list {
    margin-left: 10px;
}